@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body { 
    margin: 0;
    padding: 0;
    height:100%; 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        display: flex;
        flex-flow: row	nowrap;
    }
    
    nav > ul {
        display: flex;
        flex-direction: row;
    }
    
}

body { 
    display:	-webkit-box;
    display:	-webkit-flex;
    display:	-moz-flex;
    display:	-ms-flexbox;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #F5F5DC;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: 150px;
}

a {
    text-decoration: none;
}

nav {
    justify-content: center;
    width: 100%;
    flex: 1;
}

nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

picture {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 200px;
}

li {
    list-style: none;
    display: inline;
    padding: 8px;
}

h2 {
    padding: 40px;
    font-size: 40px;
}

footer {
    color: #ffffff;
    background-color: #333;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 60px;
}

#foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.5);
}

#codepen {
    width: 64px;
    height: 64px;
}