@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body { 
    margin: 0;
    padding: 0;
    height:100%; 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        display: flex;
        flex-direction: row;
    }
    
    nav {
        display: flex;
        flex-direction: row;
    }
    
}

body { 
    box-sizing: border-box;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #F5F5DC;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flexx;
    align-items: flex-start;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

picture {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    display: inline;
    padding: 8px;
}

h2 {
    padding: 40px;
    font-size: 40px;
}

footer {
    color: #ffffff;
    background-color: #333;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

#foto-perfil {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.5);
}

#codepen {
    width: 64px;
    height: 64px;
}